#apiEnquiryForm,
#apiEnquiryForm2,
#apiEnquiryForm3 {
  margin: 0px;
  font-size: 18px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #FFF;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f3f4f5;
}

#apiEnquiryForm fieldset div {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 0 5px;
}

@media (min-width: 680px) {
  .col-50 {
    width: 50%!important;
  }
}

@media (min-width: 1025px) {
  .home .skip-col-50 {  
    width: 100%!important;
    padding: 10px 0!important;
  }
}

.col-top {
  vertical-align: top;
}

.pb-20 {
  padding-bottom: 20px!important;
}

.mb-20 {
  margin-bottom: 20px!important;
}

.pt-20 {
  padding-top: 20px!important;
}

.p-0 {
  padding: 0!important;
}

#apiEnquiryForm h3 {
  text-align: center;
  font: normal normal bold 18px/23px Foco;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

#apply-form label {
  background-color: transparent;
}

#apiEnquiryForm *,
#apiEnquiryForm3 *,
#apiEnquiryForm2 * {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

#apiEnquiryForm label,
#apiEnquiryForm2 label,
#apiEnquiryForm3 label {
  display: block;
}

#apiEnquiryForm label.radio,
#apiEnquiryForm2 label.radio,
#apiEnquiryForm3 label.radio {
  display: inline;
}

#apiEnquiryForm input[type=text],
#apiEnquiryForm select,
#apiEnquiryForm textarea,
#apiEnquiryForm2 input[type=text],
#apiEnquiryForm2 select,
#apiEnquiryForm2 textarea,
#apiEnquiryForm3 input[type=text],
#apiEnquiryForm3 select,
#apiEnquiryForm3 textarea {
  width: 100%;
  padding: 0 10px;
  font-size: 0.9em;
  font-weight: 400;
}

input[type=text]:focus,
textarea:focus,
input[type=number]:focus,
input[type=email]:focus,
select:focus {
  border: 1px solid #f2edf9 !important;
  border-radius: 7px !important;
  outline: none;
  text-align: left;
}

#apiEnquiryForm select,
#apiEnquiryForm2 select,
#apiEnquiryForm3 select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#apiEnquiryForm input.postCode,
#apiEnquiryForm2 input.postCode,
#apiEnquiryForm3 input.postCode {
  width: 100%;
}

#apiEnquiryForm select.landLineNumberAreaCode,
#apiEnquiryForm2 select.landLineNumberAreaCode,
#apiEnquiryForm3 select.landLineNumberAreaCode {
  width: 25%;
}

#apiEnquiryForm input.landLineNumber,
#apiEnquiryForm2 input.landLineNumber,
#apiEnquiryForm3 input.landLineNumber {
  width: 70%;
  float: right;
}

#apiEnquiryForm select.state,
#apiEnquiryForm2 select.state,
#apiEnquiryForm3 select.state {
  width: 100%;
}

#apiEnquiryForm textarea,
#apiEnquiryForm2 textarea,
#apiEnquiryForm3 textarea {
  height: 50px;
  padding: 5px 10px
}

#apiEnquiryForm input[type=button],
#apiEnquiryForm2 input[type=button],
#apiEnquiryForm3 input[type=button] {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad75b', endColorstr='#d1e990');
  background: #D3F531 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 7px;
  opacity: 1;
  color: #09365b !important;
  font-size: 18px !important;
  font-weight: 600;
  letter-spacing: 0px;
  height: 35px !important;
  line-height: 0px !important;
  padding: 0 !important;
  border: 0;
  cursor: pointer;
  outline: 0 none;
  overflow: hidden;
  position: relative !important;
  text-align: center;
  text-shadow: none;
  bottom: 0 !important;
  border: 0 !important;
  text-transform: uppercase !important;
}

#apiEnquiryForm input[type=button]:hover,
#apiEnquiryForm2 input[type=button]:hover,
#apiEnquiryForm3 input[type=button]:hover {
  background-color: #d3f531 !important;
  color: #09365b !important;
  text-decoration: none !important;

}

#apiEnquiryForm input[type=button]:active,
#apiEnquiryForm2 input[type=button]:active,
#apiEnquiryForm3 input[type=button]:active {
  position: relative;
  top: 1px;
}


#apiEnquiryForm p.api-post-failed,
#apiEnquiryForm2 p.api-post-failed,
#apiEnquiryForm3 p.api-post-failed {
  color: red;
  color: red;
}

@media (max-width: 220px) {

  #apiEnquiryForm select.state,
  #apiEnquiryForm2 select.state,
  #apiEnquiryForm3 select.state {
    width: 100% !important;
  }

  #apiEnquiryForm input.postCode,
  #apiEnquiryForm2 input.postCode,
  #apiEnquiryForm3 input.postCode {
    width: 100% !important;
  }

  #apiEnquiryForm select.landLineNumberAreaCode,
  #apiEnquiryForm2 select.landLineNumberAreaCode,
  #apiEnquiryForm3 select.landLineNumberAreaCode {
    width: 30% !important;
  }

  #apiEnquiryForm input.landLineNumber,
  #apiEnquiryForm2 input.landLineNumber,
  #apiEnquiryForm3 input.landLineNumber {
    width: 65% !important;
  }

}

@media (max-width: 166px) {

  #apiEnquiryForm select.landLineNumberAreaCode,
  #apiEnquiryForm2 select.landLineNumberAreaCode,
  #apiEnquiryForm3 select.landLineNumberAreaCode {
    width: 100% !important;
  }

  #apiEnquiryForm input.landLineNumber,
  #apiEnquiryForm2 input.landLineNumber,
  #apiEnquiryForm3 input.landLineNumber {
    float: none !important;
    width: 100% !important;
  }

  #apiEnquiryForm select.state,
  #apiEnquiryForm2 select.state,
  #apiEnquiryForm3 select.state {
    width: 100% !important;
  }

  #apiEnquiryForm input.postCode,
  #apiEnquiryForm2 input.postCode,
  #apiEnquiryForm3 input.postCode {
    width: 100% !important;
  }
}

.squaredFour {
  width: 100%;
  margin: 20px auto;
  position: relative;
  text-align: center;
}

#terms {
  width: 20px !important;
  height: 20px !important;
  top: -3px !important;
}

.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    top: 0 !important;
    border-radius: 4px;
    /* -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgb(0 0 0 / 50%); */
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    /* box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgb(0 0 0 / 50%); */
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label {
  display: inline-block !important;
  margin-top: 4px !important;
  margin-bottom: -13px;
  margin-left: -7px;
  cursor: pointer !important;
  width: 20px !important;
  height: 30px !important;
  background-image: url(/Images/TC-icon.png) !important;
  background-repeat: no-repeat !important;
}

.squaredFour input[type=checkbox]:checked+label {
  background-image: url(/Images/TC-icon_checked.png) !important;
}

.squaredFour label:hover::after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)' !important;
  filter: alpha(opacity=30) !important;
  opacity: 0.5 !important;
}

.squaredFour input[type=checkbox]:checked+label:after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)' !important;
  filter: alpha(opacity=100) !important;
  opacity: 1;
}

.squaredFour p {
  display: inline!important;
  padding-left: 10px;
  position: absolute;
  margin-top: -27px;
  margin-left: 20px;
}

#apiEnquiryForm label,
#apiEnquiryForm input,
#apiEnquiryForm select,
.switch-title {
  display: block;  
  font-family: "foco", Sans-serif !important;
  width: 100%;
  font-size: 1.1em;
  font-weight: 500;
  color: #2e3e4f;
}

#apiEnquiryForm input,
#apiEnquiryForm select,
textarea {
  background-color: #d9158d;
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  border: solid 1px #fff;
  border-radius: 7px;
}

#apiEnquiryForm a {
  color: #ffffff !important;
  font-size: 1em;
  font-weight: 500;
  text-decoration: underline;
}

.alcerror {
  color: #ffffff !important;
  font: normal normal 400 14px Foco!important;    
  text-transform: uppercase;  
  position: absolute;
  text-align: right!important;
}

.label-post-code {
  font-size: 1em !important;
}

#apiEnquiryForm input,
#apiEnquiryForm select,
textarea {
  height: 35px;
}

#apiEnquiryForm select {
  text-align: left;
  text-align-last: left;
  text-align: -webkit-left;
  text-align: -moz-left;
  background: url(/wp-content/themes/twentytwenty/img/arrow-down.png) 95% no-repeat #13365c;
	margin: 0 auto;  
}

#apiEnquiryForm input::placeholder,
#apiEnquiryForm select option {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
  background-color: transparent;
}

#apiEnquiryForm select option {
  background-color: #f3f4f5 !important;
  color: #333;
}

#apiEnquiryForm p,
#error_message {
  background-color: transparent !important;
  font-size: 0.8em;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
}

#error_message {
  display: none !important;
}

input[type="button"i] {
  user-select: none;
  white-space: pre;
  cursor: default;
  color: #FFF;
  background-color: #f79239;
  box-sizing: border-box;
  padding: 10px 20px;
  border-width: 0px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "foco", Sans-serif !important;
  font-size: 0.9em;
}

.switch-title {
  font-family: "foco", Sans-serif !important;
  font-weight: 500;
  color: #FFF;
  font-size: 1em;
}

.switch-field label {
  background-color: #FFF !important;
}

.switch-buttons {
  text-align: center;
  display: block;
  width: 100%; 
}

#apiEnquiryForm input[type=radio] {
  width: 50px !important;
}

#apiEnquiryForm input[type=text],
#apiEnquiryForm input[type=number],
#apiEnquiryForm input[type=email] {
  text-align: left!important;
}

.switch-buttons-yes,
.switch-buttons-no {
  width: 50px!important;
  display: inline-block;
  padding: 0 5px;
}

.switch-buttons-yes {
  text-align: right;
}

.switch-buttons-no {
  text-align: left;
}

.switch-field label:first-of-type,
.switch-field label:last-of-type {
  border-radius: 0px !important;
  background-color: #00d1db !important;
  color: #FFF !important;
}

.nocreaitimapct {
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  border-top: 0px;
  font-weight: 400;
  font-size: 0.8em !important;
  padding-bottom: 10px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%; 
}

.nocreaitimapct:before {
  display: inline-block;
  width: 1em;
  background-color: #D3F531;
  mask: url('/wp-content/themes/twentytwenty/img/Font_Awesome_5_solid_award.svg') no-repeat 100% 100%;
  font-size: 80%;
}

.switch-field label {
  background-color: #e4e4e4 !important;
  color: rgba(0, 0, 0, 0.2) !important;
  font-size: 0.9em !important;
  font-weight: 400 !important;
  text-align: center !important;
  text-shadow: none !important;
  padding: 6px 14px !important;
  -webkit-transition: all 0.1s ease-in-out !important;
  -moz-transition: all 0.1s ease-in-out !important;
  -ms-transition: all 0.1s ease-in-out !important;
  -o-transition: all 0.1s ease-in-out !important;
  transition: all 0.1s ease-in-out !important;
  width: 50px !important;
}

.comments-section {
  margin-top: 20px;
}

#apiEnquiryForm fieldset:not(:first-of-type) {
  display: none;
}

.squaredFour {
  width: 100%;
  margin: 20px auto;
  position: relative;
}

.squaredFour input[type=checkbox]:checked+label {
  background-image: url(/wp-content/uploads/2017/06/TC-icon_checked.png);
}

.squaredFour label:hover::after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
  filter: alpha(opacity=30);
  opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked+label:after {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  filter: alpha(opacity=100);
  opacity: 1;
}

.squaredFour p {
  display: inline;
}

.hidden {
  display: none;
}

.switch-field {
  overflow: hidden;
  margin-bottom: 10px;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left !important;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked+label {
  background-color: #d3f531 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #09365b !important;
}

.switch-field input+label:hover {
  background-color: #d3f531 !important;
  color: #09365b;
}

fieldset {
  border: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.field-required {
  border: #FFF 2px solid !important;
}

input[type="submit"] {
	background:#00d1db;
	font-family: "foco", Sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.nocreaitimapct img {
	display: initial!important;
	margin: 0 10px -10px 0!important;
	 color:#fff!important;
}

#apiEnquiryForm h2 {
	text-align: center;
  font: normal normal normal 40px/51px Foco;
  letter-spacing: -1.84px;
  color: #FFFFFF;
  opacity: 1;
 }

#apiEnquiryForm, #apiEnquiryForm2, #apiEnquiryForm3 {
  font-family: "foco", Sans-serif!important;
  font-size: 24px!important;
	border-color: #38c1d0!important;
	border-width: 1px!important;
  color: #FFF;
  margin-left: 5%;
  margin-right: 5%;
	margin: 0!important;
	background-color: transparent!important;
}

#apiEnquiryForm input, #apiEnquiryForm select, textarea {
	font-family: "foco", Sans-serif!important;
  background: #FFFFFF34 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  opacity: 1;
  width: 100%;
	color: #FFF!important;
}

#apiEnquiryForm input,  #apiEnquiryForm select{
	font-family: "foco", Sans-serif!important;
	 font-size: 17px!important;
}

#apiEnquiryForm label, #apiEnquiryForm2 label, #apiEnquiryForm3 label {
	color: #FFF!important;
}

#apiEnquiryForm label, .switch-title {
	font-family: "foco", Sans-serif!important;
  width: 100%;
	padding-bottom: 0px;
  font: normal normal 300 16px/20px Foco!important;  
	color: #FFF!important;
}