#apply-form .squaredFour input, #apply-form .squaredFour label{
    height:20px !important;
    width:20px !important;
    left: 0px;
    margin: 0px;
    margin-top: 3px;
}

#apply-form .squaredFour label:after {
    width: 12px;
    height: 7px;
    top: 5px;
}
