#apiEnquiryForm,
#apiEnquiryForm2,
#apiEnquiryForm3 {
margin: 0px;
font-size: 18px;
padding-bottom: 10px;
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #FFF;
margin-left: 5%;
margin-right: 5%;
background-color: #f3f4f5; }
margin-bottom: -10px;
font-size: 31px !important;
font-weight: bold !important;
#apiEnquiryForm h2 {
margin-bottom: -10px;
font-size: 24px !important;
}
#apiEnquiryForm h3 {
font-size: 1em !important;
}
#apply-form label {
background-color: transparent;
}
#apiEnquiryForm *,
#apiEnquiryForm3 *,
#apiEnquiryForm2 * {
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#apiEnquiryForm label,
#apiEnquiryForm2 label,
#apiEnquiryForm3 label {
display: block;
}
#apiEnquiryForm label.radio,
#apiEnquiryForm2 label.radio,
#apiEnquiryForm3 label.radio {
display: inline;
}
#apiEnquiryForm input[type=text],
#apiEnquiryForm select,
#apiEnquiryForm textarea,
#apiEnquiryForm2 input[type=text],
#apiEnquiryForm2 select,
#apiEnquiryForm2 textarea,
#apiEnquiryForm3 input[type=text],
#apiEnquiryForm3 select,
#apiEnquiryForm3 textarea {
width: 100%;
padding: 0 10px;
font-size: 0.9em;
font-weight: 400;
}
input[type=text]:focus,
textarea:focus,
input[type=number]:focus,
input[type=email]:focus,
select:focus {
border: 1px solid #f2edf9 !important;
border-radius: 8px !important;
outline: none;
}
#apiEnquiryForm select,
#apiEnquiryForm2 select,
#apiEnquiryForm3 select {
-moz-appearance: none;
-webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}
#apiEnquiryForm input.postCode,
#apiEnquiryForm2 input.postCode,
#apiEnquiryForm3 input.postCode {
width: 100%;
}
#apiEnquiryForm select.landLineNumberAreaCode,
#apiEnquiryForm2 select.landLineNumberAreaCode,
#apiEnquiryForm3 select.landLineNumberAreaCode {
width: 25%;
}
#apiEnquiryForm input.landLineNumber,
#apiEnquiryForm2 input.landLineNumber,
#apiEnquiryForm3 input.landLineNumber {
width: 70%;
float: right;
}
#apiEnquiryForm select.state,
#apiEnquiryForm2 select.state,
#apiEnquiryForm3 select.state {
width: 100%;
}
#apiEnquiryForm textarea,
#apiEnquiryForm2 textarea,
#apiEnquiryForm3 textarea {
height: 50px;
padding: 5px 10px
}
#apiEnquiryForm input[type=button],
#apiEnquiryForm2 input[type=button],
#apiEnquiryForm3 input[type=button] {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad75b', endColorstr='#d1e990');
background-color: #00d1db !important;
border-radius: 0px !important;
color: #ffffff !important;
font-size: 18px !important;
font-weight: 500;
letter-spacing: 0px;
height: 35px !important;
line-height: 0px !important;
padding: 0 !important;
border: 0;
box-shadow: none !important;
cursor: pointer;
outline: 0 none;
overflow: hidden;
position: relative !important;
text-align: center;
text-shadow: none;
width: 70%;
box-shadow: none;
-webkit-box-shadow: none;
margin: 5px 15%;
bottom: 0 !important;
border: 0 !important;
text-transform: uppercase !important;
}
#apiEnquiryForm input[type=button]:hover,
#apiEnquiryForm2 input[type=button]:hover,
#apiEnquiryForm3 input[type=button]:hover {
background-color: #d3f531 !important;
color: #09365b !important;
text-decoration: none !important;
}
#apiEnquiryForm input[type=button]:active,
#apiEnquiryForm2 input[type=button]:active,
#apiEnquiryForm3 input[type=button]:active {
position: relative;
top: 1px;
}
#apiEnquiryForm p.api-post-failed,
#apiEnquiryForm2 p.api-post-failed,
#apiEnquiryForm3 p.api-post-failed {
color: red;
color: red;
}
#apiEnquiryForm p.api-post-success,
#apiEnquiryForm2 p.api-post-success,
#apiEnquiryForm3 p.api-post-success {}
@media (max-width: 220px) {
#apiEnquiryForm select.state,
#apiEnquiryForm2 select.state,
#apiEnquiryForm3 select.state {
width: 100% !important;
}
#apiEnquiryForm input.postCode,
#apiEnquiryForm2 input.postCode,
#apiEnquiryForm3 input.postCode {
width: 100% !important;
}
#apiEnquiryForm select.landLineNumberAreaCode,
#apiEnquiryForm2 select.landLineNumberAreaCode,
#apiEnquiryForm3 select.landLineNumberAreaCode {
width: 30% !important;
}
#apiEnquiryForm input.landLineNumber,
#apiEnquiryForm2 input.landLineNumber,
#apiEnquiryForm3 input.landLineNumber {
width: 65% !important;
}
}
@media (max-width: 166px) {
#apiEnquiryForm select.landLineNumberAreaCode,
#apiEnquiryForm2 select.landLineNumberAreaCode,
#apiEnquiryForm3 select.landLineNumberAreaCode {
width: 100% !important;
}
#apiEnquiryForm input.landLineNumber,
#apiEnquiryForm2 input.landLineNumber,
#apiEnquiryForm3 input.landLineNumber {
float: none !important;
width: 100% !important;
}
#apiEnquiryForm select.state,
#apiEnquiryForm2 select.state,
#apiEnquiryForm3 select.state {
width: 100% !important;
}
#apiEnquiryForm input.postCode,
#apiEnquiryForm2 input.postCode,
#apiEnquiryForm3 input.postCode {
width: 100% !important;
}
}
.squaredFour {
width: 100%;
margin: 20px auto;
position: relative;
text-align: center;
}
.squaredFour label {
display: inline-block !important;
margin-top: 4px !important;
margin-bottom: -13px;
cursor: pointer !important;
width: 20px !important;
height: 30px !important;
background-image: url(//staging.justbudget.com.au/Images/TC-icon.png) !important;
background-repeat: no-repeat !important;
}
.squaredFour input[type=checkbox]:checked+label {
background-image: url(//staging.justbudget.com.au/Images/TC-icon_checked.png) !important;
}
.squaredFour label:hover::after {
-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)' !important;
filter: alpha(opacity=30) !important;
opacity: 0.5 !important;
}
.squaredFour input[type=checkbox]:checked+label:after {
-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)' !important;
filter: alpha(opacity=100) !important;
opacity: 1;
}
.squaredFour p {
display: inline;
}
#apiEnquiryForm label,
#apiEnquiryForm input,
#apiEnquiryForm select,
.switch-title {
display: block;
text-align: center;
font-family: "foco", Sans-serif !important;
width: 100%;
font-size: 1.1em;
font-weight: 500;
color: #2e3e4f;
}
#apiEnquiryForm input,
#apiEnquiryForm select,
textarea {
background-color: #d9158d;
color: #fff;
font-size: 0.9em;
font-weight: 400;
border: solid 1px #fff;
border-radius: 8px;
}
#apiEnquiryForm a,
.alcerror {
color: #13365c !important;
font-size: 1.1em;
font-weight: 500;
}
#wrongmessage,
#wrongmessage1 {
color: #13365c !important;
}
.label-post-code {
font-size: 1em !important;
}
.alcerror {
text-transform: uppercase;
}
#apiEnquiryForm input,
#apiEnquiryForm select,
textarea {
height: 35px;
}
#apiEnquiryForm select {
text-align: center;
text-align-last: center;
background: url(//staging.justbudget.com.au/wp-content/themes/badcreditloans/img/arrow-down.png) 95% no-repeat #13365c;
}
#apiEnquiryForm input::placeholder,
#apiEnquiryForm select option {
color: #fff;
font-size: 0.9em;
font-weight: 400;
text-align: center;
text-align: -moz-center;
text-align: -webkit-center;
background-color: transparent;
}
#apiEnquiryForm select option {
background-color: #f3f4f5 !important;
color: #333;
}
#apiEnquiryForm p,
#error_message {
background-color: transparent !important;
padding: 0 25px;
font-size: 0.9em;
font-weight: 500;
color: #2e3e4f;
text-align: center;
}
#error_message {
display: none !important;
}
input[type="button"i] {
user-select: none;
white-space: pre;
cursor: default;
color: #FFF;
background-color: #f79239;
box-sizing: border-box;
padding: 10px 20px;
border-width: 0px;
font-weight: 400;
text-transform: uppercase;
font-family: "foco", Sans-serif !important;
font-size: 0.9em;
}
.switch-title {
font-family: "foco", Sans-serif !important;
font-weight: 500;
color: #FFF;
padding: 0 25px;
font-size: 1em;
}
.switch-field label {
background-color: #FFF !important;
}
.switch-buttons {
text-align: center;
display: block;
width: 100%;
margin-top: -5px;
}
.switch-buttons {
text-align: center;
display: block;
width: 100%;
}
#apiEnquiryForm input[type=radio] {
width: 120px !important;
}
.switch-buttons-yes,
.switch-buttons-no {
width: 120px;
display: inline-block;
padding: 0 5px;
}
.switch-buttons-yes {
text-align: right;
}
.switch-buttons-no {
text-align: left;
}
.switch-field label:first-of-type,
.switch-field label:last-of-type {
border-radius: 0px !important;
background-color: #00d1db !important;
color: #FFF !important;
}
.nocreaitimapct {
color: #09365b;
padding: 10px;
text-align: center;
background-color: transparent;
border-top: 0px;
font-weight: 400;
font-size: 0.8em !important;
padding-bottom: 10px;
width: 90%;
margin-left: 5%;
margin-right: 5%;
}
.nocreaitimapct img {
padding-bottom: 6px;
}
.switch-field label {
background-color: #e4e4e4 !important;
color: rgba(0, 0, 0, 0.2) !important;
font-size: 0.9em !important;
font-weight: 400 !important;
text-align: center !important;
text-shadow: none !important;
padding: 6px 14px !important;
-webkit-transition: all 0.1s ease-in-out !important;
-moz-transition: all 0.1s ease-in-out !important;
-ms-transition: all 0.1s ease-in-out !important;
-o-transition: all 0.1s ease-in-out !important;
transition: all 0.1s ease-in-out !important;
width: 120px !important;
}
.comments-section {
margin-top: 20px;
}
#apiEnquiryForm fieldset:not(:first-of-type) {
display: none;
}
.squaredFour {
width: 100%;
margin: 20px auto;
position: relative;
}
.squaredFour input[type=checkbox]:checked+label {
background-image: url(//staging.justbudget.com.au/wp-content/uploads/2017/06/TC-icon_checked.png);
}
.squaredFour label:hover::after {
-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
filter: alpha(opacity=30);
opacity: 0.5;
}
.squaredFour input[type=checkbox]:checked+label:after {
-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
filter: alpha(opacity=100);
opacity: 1;
}
.squaredFour p {
display: inline;
}
.hidden {
display: none;
}
.switch-field {
overflow: hidden;
margin-bottom: 10px;
}
.switch-title {
margin-bottom: 6px;
}
.switch-field input {
position: absolute !important;
clip: rect(0, 0, 0, 0);
height: 1px;
width: 1px;
border: 0;
overflow: hidden;
}
.switch-field label {
float: left !important;
}
.switch-field label:hover {
cursor: pointer;
}
.switch-field input:checked+label {
background-color: #d3f531 !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
color: #09365b !important;
}
.switch-field input+label:hover {
background-color: #d3f531 !important;
color: #09365b;
}
fieldset {
border: 0;
}
.state-postcode-wrapper {
padding: 0 25px;
}
.state-postcode-wrapper p {
margin-bottom: 5px !important;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.field-required {
border: #000 2px solid !important;
}